.left {
  text-align: left;
}

.large {
  font-size: 48px;
}

.lighter {
  color: gray;
}

.huge {
  font-size: 128px;
}

.right {
  text-align: right;
}

.spaced {
  padding: 5px;
}

.no-margin {
  margin-bottom: 0;
}

.recommendation {
  font-family: Montserrat, sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 26px;
  text-align: center;
}

.temp {
  font-family: Montserrat, sans-serif;
}

.fi {
  font-size: 28px;
}

.sti {
  font-size: 28px;
}

.search-form {
  margin-top: 24px;
}

.search-btn {
  margin-right: 5px;
}

.search-icon {
  font-size: 20px;
}

.wi {
  /* color: #924da3; */
  color: #673ab7;
}

.mood-icon {
  color: #673ab7;
  font-size: 18px;  
}

.delete {
  display: flex;
  align-items: flex-end;
}

.err {
  padding-bottom: 20px;
}