<div fxLayoutAlign="center spaced">
  <div class="search-form">
    <form>
      <mat-form-field>
        <mat-icon class="search-icon" matPrefix>search</mat-icon>
        <input matInput class="search" type="search" placeholder="Enter city name" type="text" [formControl]="search">
      </mat-form-field>
      <mat-error class="err" *ngIf="error && error.message">{{ error.message | capitalize }}. Please enter a different
        location</mat-error>
    </form>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex="300px">
    <mat-expansion-panel class="mood-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mood-icon">mood</mat-icon> Moods
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>How are you feeling today?</p>
      <mat-form-field>
        <input id="moodInput" matInput placeholder="Enter mood" type="text" #mood>
      </mat-form-field>
      <mat-error class="err" id="moodErr" *ngIf="moodsErr && moodsErr.statusText">{{ moodsErr.statusText }}. Couldn't reach the
        database.</mat-error>
      <button id="saveMood" (click)="addMood(mood.value); mood.value = ''" mat-mini-fab color="primary">Save</button>
      <mat-list>
        <mat-list-item class="mood" *ngFor="let mood of this.moods">
          <p><i>{{ mood.name }}</i></p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel class="activity-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mood-icon">today</mat-icon> Activities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Got any plans for today? Jot them down here.</p>
      <mat-form-field>
        <input id="activityInput" matInput placeholder="Enter activity" type="text" #activity>
      </mat-form-field>
      <mat-error class="err" id="activityErr" *ngIf="activitiesErr && activitiesErr.statusText">{{ activitiesErr.statusText }}. Couldn't
        reach the database.</mat-error>
      <button id="saveActivity" (click)="addActivity(activity.value); activity.value = ''" mat-mini-fab color="primary">Save</button>
      <mat-list>
        <mat-list-item class="activity" *ngFor="let activity of activities">
          <p><i>{{ activity.name }}</i></p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
  <mat-card fxFlex="600px">
    <div *ngIf="weather">
      <div>
        <div fxFlex="100%" class="no-margin">
          <mat-card-title class="title">
            {{ weather.city }}, {{ weather.country }}
          </mat-card-title>
          <mat-card-subtitle>
            <span>
              {{ weather.date | date: 'EEEE' }}, {{ weather.date | date: "shortTime" }},
            </span>
            <span>
              {{ weather.description | titlecase }}
            </span>
          </mat-card-subtitle>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="left">
                <span class="large temp">{{ weather.temperature | roundTemperature }}&deg;C</span>
              </div>
              <div fxFlex class="right">
                <span class="{{ icon }} huge my-wi"></span>
              </div>
            </div>
            <mat-card-subtitle>
              <span class="wi wi-strong-wind left sti"></span> {{ weather.wind_speed }} km/h Winds
              <span class="spaced"></span>
              <span class="wi wi-humidity sti"></span> {{ weather.humidity }}% Humidity
            </mat-card-subtitle>
            <p class="recommendation">{{ recommendation }}</p>
            <mat-divider inset="true"></mat-divider>
            <mat-list>
              <mat-list-item class="forecast" *ngFor="let f of forecast; index as i">
                <span fxFlex class="left">{{ f.dt_txt | date: 'EEEE' }}</span>
                <span fxFlex class="right">
                  <span class="wi wi-{{ icons[f.icon_id].icon }}"></span>
                </span>
                <span fxFlex class="right">
                  <span>{{ f.max | roundTemperature }}&deg;</span>
                  <span class="lighter">/ {{ f.min | roundTemperature }}&deg;</span>
                </span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </div>
      </div>
    </div>
  </mat-card>
  <div fxFlex></div>
</div>
